<!-- Footer -->
<footer class=" bg-dark rounded-top text-center footer ">

  <!-- Copyright -->
  <div class="container py-2">
    <p class="text-white my-2">
        © 2019 Copyright - Eder Montoya
    </p> 
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->