<app-header></app-header>
<div class="container">
  <!--   <h1>
    Bienvenidos {{ title }}!
  </h1>
  <app-directiva></app-directiva> 
  <app-clientes></app-clientes>
 -->
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>